Source: jolicloud-hardware
Section: misc
Priority: standard
Maintainer: Adam McDaniel <adam@jolicloud.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: jolicloud-hardware
Pre-Depends: dkms, linux-headers-jolicloud | linux-headers, jolicloud-hardware-repo
Depends: nvidia-common
Architecture: all
Description: Test package for jolicloud-hardware
 Test package for jolicloud-hardware
